{% extends "base.html" %}
{% block title %} Detalhes: {{produto.nome}} {% endblock %}
{% block styles %}
<style>
    body{
        background-color: #02204d;

    }

    .body-detalhe {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .container-nativo {
        background-color: #F2F2F2;
        min-height: 100vh;
    }

    .col-dados-produto {
        display: flexbox;
        background-color: #F2F2F2;
        padding-top: 70px;
        border-radius: 15px;
        margin: 20px;
        text-align: center;
        padding-bottom: 20px;
        /* max-width: 600px; */
        width: 30vw;
        height: 500px;
    }

    .carousel-inner {
        border-radius: 20px;
        margin: 20px;
        width: 30vw;
        height: 500px;
    }

    h2 {
        color: #071E41;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    h3 {
        color: #071E41;
        margin-left: 150px;
        padding-left: 100px;
        width: 300px;
        font-family: 'Times New Roman', Times, serif;
        text-align: right;
        padding-bottom: 90px;
    }

    p {
        color: #071E41;
        font-weight: 500;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
    }

    .button-comprar {
        background-color: #071E41;
        border: none;
        padding: 12px 24px;
        color: #F2F2F2;
        font-weight: 600;
        cursor: pointer;
        border-radius: 8px;
        transition: transform 0.2s ease;
        width: 200px;
    }

    .button-comprar:hover {
        transform: scale(1.05);
    }

    .button-carrinho {
        background-color: #071E41;
        border: none;
        padding: 12px 24px;
        color: #F2F2F2;
        font-weight: 600;
        cursor: pointer;
        border-radius: 8px;
        transition: transform 0.2s ease;
    }

    .button-carrinho:hover {
        transform: scale(1.05);
    }

    .card {
        width: max-content;
    }

    imagens {
        width: max-content;
        padding: 10px;
        justify-content: center;
    }

    imagens>img {
        width: 100vw;
    }
</style>
{% endblock %}

{% block content %}
<div class="container123 body-detalhe">
    <div class="container-text-center">
        <div class="row">
            <div class="col">
                <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/{{produto.imagem1}}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/{{produto.imagem2}}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/{{produto.imagem3}}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/{{produto.imagem4}}" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

            </div>
            <div class="col col-dados-produto">
                <br>
                <h2> {{produto.nome}} </h2>
                <br>
                <p> {{produto.descricao}} </p>
                <br>
                <h3>R${{produto.preco}}</h3>
                <br>
                <button class="button-comprar">Comprar agora</button>
                <button class="button-carrinho"> 🛒Adicionar ao carrinho</i>
                </button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>
{% endblock %}