{% extends "base.html" %}
{% load static %}
{% block title %}Pagina de listagem de produtos{% endblock %}
{% block styles %}
    <style>
        .container-menu {
            max-width: 1200px;
            margin: auto;
            padding: 10px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

        }

        .card {
            width: 300px;
            margin: 5px;
            margin-bottom: 10px;
            border: 1px solid #bbbbbb;
            border-radius: 10px;
            overflow: hidden;
            transition: transform 0.3s ease;
            color: #fff;
            padding: 20px;
            background-color: #F2F2F2;
            font-family: 'Open Sans', sans-serif;
            font-size: 18px;
            background-image: linear-gradient(to bottom, #c2c2c2, #F2F2F2);
            transition: all 0.3s ease;
        }

        .card-img-top {
            width: 100%;
            height: 230px;
            object-fit: cover;
            background-size: cover;
            background-color: rgb(192, 192, 192);
            border-radius: 8px 8px 0 0;
        }

        .card-content {
            padding: 20px;
            text-align: center;

        }

        .botão-submit{
            background-color: #0F528C;
            border-radius: 10px;
            border-color: #0F528C;
            color: #F2F2F2;
        }

        .botão-submit:hover {
            background-color: #D9C091;
            color: #071E41;
            border-radius: 10px;
            transition: 0.5s;
            border-color: #D9C091;

        }
        
        .card-text {
            color: #0b2347;
        }
    </style>
{% endblock %}

{% block content %}
    
    </div>
</div>
 
    </nav>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="color: #F2F2F2;">
        <div class="container-fluid">
            <form class="d-flex" role="search">
                <input name="nome_produto" class="form-control me-2" type="search"
                    placeholder="Digite o nome do produto" aria-label="Search" style="width: 300px;">
                <select name="ordem" class="form-select" aria-label="Default select example" style="width: 200px;">
                    <option selected>Filtrar</option>
                    <option value="1">Nome - Crescente 🔤↑</option>
                    <option value="2">Valor - Crescente $↑</option>
                    <option value="3">Nome - Decrescente 🔤↓</option>
                    <option value="4">Valor - Decrescente $↓</option>
                </select>

                <input name="valor_min" class="form-control me-2" type="number" placeholder="Valor mínimo"
                    aria-label="Search" style="width: 150px;">
                <input name="valor_max" class="form-control me-2" type="number" placeholder="Valor máximo"
                    aria-label="Search" style="width: 150px;">
                <button class="botão-submit" type="submit">Pesquisar</button>     
            </form>
        </div>
    </nav>

    <div class="container-menu">
        {%for produto in produtos%}
        <div class="card" style="width: 18rem;">
            <img src="{{produto.imagem.url}}" class="card-img-top" alt="imagem-produto">
            <div class="card-body">
                <h5 class="card-text">{{produto.nome}}</h5>
                <p class="card-text">{{produto.descricao}}</p>
                <p class="card-text">R$ {{produto.preço}}</p>
                <p class="card-text">Estoque: {{produto.quantidade_estoque}}</p>
                <a href="#" class="btn btn-primary" style="color: #F2F2F2; background-color: #0F528C; border-color: #0F528C;">Detalhes</a>
            </div>
        </div>
        {%endfor%}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

{% endblock %}

