<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
        body {
      font-family: Arial, Helvetica, sans-serif;
      background-image: linear-gradient(to right, #F2F2F2, rgb(187, 63, 121));
    }
        .input-group{
            font-weight: bold;
        }
        .input-group input {
            border-radius: 10px;
            padding: 10px 10px 5px 5px;
            font-size: 14px;
        }
    </style>
</head>

<body>
    {% if validlink %}
    <strong><p>Por favor, digite (e confirme) sua nova senha.</p></strong>

    <form action="" method="post">
        {% csrf_token %}
        <div>
            {{ form.new_password1.errors }}
        </div>


        <div class="input-group">
            <p></p><span class="input-group-text" id="basic-addon1">Nova senha:</span>

            <input type="text" name="new_password1" autocomplete="username" required>
        </div>
        <br>
        <br>
        <div>
            {{ form.new_password1.errors }}
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-text" id="basic-addon1">Confirme senha:</span>
            <input type="text" name="new_password2" autocomplete="username" required>
        </div>
        <br>
        <br>
        <br>
        <p></p><input type="submit" value="Alterar minha senha" /></td></p>

    </form>
    {% else %}
    <h1>Falha na redefinição de senha</h1>
    <p>
        O link de redefinição de senha era inválido, possivelmente porque já foi
        usado. Solicite uma nova redefinição de senha.
    </p>
    {% endif %}
</body>

</html>