<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        Alguém pediu para redefinir a senha do e-mail {{ email }}. Clique no link abaixo para redefinir sua senha.
        <br>:
        {{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

        Caso você não tenha solicitado a redefinição de senha, ignore este e-mail.
    </div>
</body>

</html>