{% extends "base.html" %}


{% block title %}Resetar senha{% endblock %}
    {% block styles %}
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            background-image: linear-gradient(to right, #F2F2F2, rgb(74, 81, 107));
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            
            
        }
        .container form {
        text-align: center; /* Centraliza o conteúdo dentro do formulário */
    }
    .btn {
        margin-top: 10px; /* Adiciona um espaçamento superior opcional */
    }
        .input-group {
            font-weight: bold;
        }
        
        .input-group input {
            border-radius: 10px;
            padding: 10px 10px 5px 5px;
            font-size: 14px;

        }
        .input-group-text {
        display: block; /* Garante que o elemento ocupe toda a largura */
        text-align: center; /* Centraliza o texto */
        font-weight: bold; /* Opcional: deixa o texto em negrito */
        margin-bottom: 10px; /* Adiciona espaço abaixo do texto */
    }

        .btn {
            border: none;
            border-radius: 10px;
            background-color: rgb(104, 104, 153);
            cursor: pointer;
            font-family:'Times New Roman', Times, serif
        }
    </style>
{% endblock %}

{% block content %}
    <br>
    <br>
    <br>
    <div class="container">

        <form action="" method="post">
            {% csrf_token %}
            {% if form.email.errors %}
            {{ form.email.errors }}
            {% endif %}

            <div class="input-group">
                <span class="input-group-text" id="basic-addon1">Digite seu e-mail:</span><p></p>
                <input type="text" name="email" autocomplete="username" required>
            </div>
            <p><input type="submit" class="btn btn-default btn-lg" value="Trocar senha"></p>
        </form>
    </div>

{% endblock %}
