<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
      font-family: Arial, Helvetica, sans-serif;
      background-image: linear-gradient(to right, #F2F2F2, rgb(36, 134, 172));
    }
    .input-b{
        font-weight: bold;
    }
    </style>
</head>

<body>
    <div>
        Alguém pediu para redefinir a senha do e-mail {{ email }}. <strong><p>Clique no link abaixo para redefinir sua senha.</p></strong>
        <br>:
        {{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

        <p></p><strong>Caso você não tenha solicitado a redefinição de senha, ignore este e-mail.</strong></p>
    </div>
</body>

</html>