<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Contatos</title>
    <style>
    .parent {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        gap: 200px;
        background-color: red;
    }
    
    .div11 {
        grid-column: span 3 / span 3;
        grid-row: span 5 / span 5;
        grid-column-start: 2;
        grid-row-start: 1;
        background-color: blue;
        border-radius: 10px;
    }


    
    </style>
</head>
<body>

    

    <div class="parent">
        <div class="div11">11</div>
  
</div>
    


</div>
    

</body>
</html>