{% extends "base.html" %}
{% block title %}Perguntas frequente (FAQ){% endblock %}
{% block styles %}

{% endblock %}
{% block content %}
<article>
    
        <h1>Perguntas frequentes</h1>
        <section>
            <header>
                <h2>Como faço para criar uma conta?</h2>
            </header>
            <p>Para criar uma conta, clique em "Cadastre-se" no canto superior direito da página e siga as instrucões.
            </p>
        </section>
        <section>
            <header>
                <h2>Como redefinir senha?</h2>
            </header>
            <p>No lado superior direito da página clique em Login, depois clique em "esquece a senha" e siga as
                instruções? .</p>
        </section>
        <section>
            <header>
                <h2>
                    Quais métodos de pagamentos vocês aceitam?.
                </h2>
            </header>
            <p>
                Aceitamos cartões de crédito Visa, Mastercard, elo e cartões de débito e Pix.
            </p>
        </section>
        <section>
            <header>
                <h2>
                    Posso fazer um pedido e finalizar a compra sem ter cadastro no Lojão do 20?.
                </h2>
            </header>
            <p>
                Não, para fazer um pedido e finalizar uma compra você deve ter uma conta Lojão do 20.
            </p>
            <p>
                Clique em <a href="" >Cadastre-se </a> e faça o seu cadastro fácil e rápido.
            </p>
        </section>
</article>
{% endblock %}