{% extends "base.html" %}
{% block title %}Perguntas frequente (FAQ){% endblock %}
{% block styles %}
<style>
    article {
        background-color: #F2F2F2;
    }

    h1 {
        color: #071E41;
    }


    h3 {

        color: #071E41;
    }
</style>
{% endblock %}
{% block content %}
<article>
    <div class="conteiner">
        <h1>Perguntas frequentes</h1>
        <section>
            <header>
                <h3>Como faço para criar uma conta?</h3>
            </header>
            <p>Para criar uma conta, clique em "Cadastre-se" no canto superior direito da página e siga as instrucões.
            </p>
        </section>
        <section>
            <header>
                <h3>Como redefinir a senha?</h3>
            </header>
            <p>No lado superior direito da página clique em Login, depois clique em "Esqueceu a senha?" e siga as
                instruções.</p>
        </section>
        <section>
            <header>
                <h3>
                    Quais métodos de pagamentos vocês aceitam?.
                </h3>
            </header>
            <p>
                Aceitamos cartões de crédito Visa, Mastercard, elo, cartões de débito e Pix.
            </p>
        </section>
        <section>
            <header>
                <h3>
                    Posso fazer um pedido e finalizar a compra sem ter cadastro no Lojão do 20?.
                </h3>
            </header>
            <p>
                Não, para fazer um pedido e finalizar uma compra você deve ter uma conta Lojão do 20.
            </p>
            <p>
                Clique em <a href="">Cadastre-se </a> e faça o seu cadastro fácil e rápido.
            </p>
        </section>
    </div>
</article>
{% endblock %}