<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>perfil do cliente</title>

    
        
</head>
<body>
    <h1>Perfil do Cliente</h1>
    <div class="container-login">
    
    
        <form action="" method="post">
           <div class="input-usuario">
              
           </div>
           <div class="input-senha">
            <div class="container-login">
                <h2>Dados do Cliente</h2>
                <form action="" method="post">
                   <div class="input-usuario">
                      <label for="login">Login:</label>
                      <br>
                      <input type="text" id="email" name="email" required>
                      <br><br>
                   </div>
                   <div class="input-senha">
                    
                      <button type="button" class="btn">Alterar senha</button>
                      
                   </div>
                   <br><br>
                   <label for="nome">Nome:</label>
                   <br>
                   <input type="text" id="nome" name="nome" required>
                   <br><br>
                   <label for="telefone">Telefone:</label>
                   <br>
                   <input type="number" id="telefone" name="telefone" required>
                   <br><br>
                   <label for="data_nasc">Data de Nascimento:</label>
                   <br>
                   <input type="number" id="data_nasc" name="data de nascimento" required>
                   <br><br>
                   <label for="endereço">Endereço:</label>
                   <br>
                   <input type="number" id="data_nasc" name="data de nascimento" required>
                   <br><br>
                   <label for="Celular">Celular:</label>
                   <br>
                   <input type="number" id="celular" name="celular" required>
                   
                   <div class="input-Salvar">
                    <br>
                    <button type="button" class="btn">Salvar</button>
                    

</body>
</html>