{% extends "base.html" %} 
{% load static %}
{% block title %}Página Pública{% endblock %}
 {% block styles %}
  <style>
  .titulo {
    text-align: center;
    margin-top: 20px;
    font-size: 2em;
    color: #071e41;
  }
  </style>
{% endblock %} 
{% block content %}
<h1 class="titulo">Página Pública</h1>
<p>Esta é uma página pública acessível a todos os usuários.</p>

<a href="{% url 'logado' %}">Ir para a página de logados</a>
<a href="{% url 'funcionario' %}">Ir para a página de funcionario</a>
{% endblock %}
